.notiCard {
  height: vw(60px);


  &_num {
    align-items: center;
    width: vw(150px);
    justify-content: center;
  }

  &_title {
    width: vw(700px);
    padding-left: vw(40px);
    align-items: center;
    justify-content: start;
  }

  &_time {
    width: vw(250px);
    justify-content: center;
    align-items: center;
  }

  .divide {
    width: 100%;
    height: (1px);
    background-color: $GRAY-E4;
  }

}

