.comment {
  margin-bottom: vw(16px);


.Commentimg {
    width: vw(32px);
    height: vw(32px);
    margin-right: vw(10px);
  }

.content {
    margin-left: vw(12px);
  }
}

.CommentDeleteButton{
  background-color: #E8E8E8;
  border-radius: 5px;
  width: 70px;
}