.userInfo{
  margin-top: 80px;
}

.Achievements{
  width: 850px;
  border: 1px solid $MAIN;
}


.AchiveNav{
  display: block;
  background-color: $MAIN;
  height: 40px;
  color: $TYPO-27;
  padding-left: 20px;
  padding-top: 10px;

}
