.makeNFT{
  width: 600px;
  text-align: center;
}


.nameInput{
  border: 2px solid $MAIN;
  width: 300px;
  height: 43px;
  padding-inline: 20px;
  border-radius: 10px;
  text-align: center;
}
.NFTModalMain{
  height: 450px;
}

.Typeinput{
  width: 300px;
}
