.container {
  justify-content: center;
}

.notiRegi {
  width: vw(1100px);
  margin-top: vw(120px);

  &_pgtitle {
    margin-bottom: vw(40px);
  }



  .divide {
    width: 100%;
    height: (1px);
    background-color: $GRAY-E4;
  }

  .divide_2 {
    width: 100%;
    height: (1px);
    background-color: $GRAY-E4;
    margin-bottom: vw(24px);
  }

  &_txt {
    margin-bottom: vw(12px);
    color: $GRAY-40;
  }


}
