.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.modal>section {
  max-width: 1400px;
  max-height: 800px;
  margin: 0 auto;
  border-radius: 20px;

  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}

.modal>section>header {
  height: 55px;
  position: relative;
  padding: 16px 30px 16px 30px;
  background-color: #98D4FF;
  font-weight: 700;
  text-align: center;
}
  

.modal>section>main {
  border-radius: 10px;
  margin: 20px;
}

.modal>section>footer {
  padding: 12px 16px;
  text-align: center;
}

.modal>section>footer button {
  padding: 6px 12px;
  color: #fff;
  border-radius: 5px;
  height: 40px;
  width: 250px;
  margin-inline: 8px;
  color: $TYPO-27;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
  background-color: rgba(0, 0, 0, 0.2);

}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}