.mainNav {
    background-color: $MAIN;
}

.mainlogo {
    margin-left: vw(135px);
    margin-right: 420px;
}

.save {
    // color: $BLACK;
    margin-right: vw(64px);

}

.drawBtn {
    // color : $BLACK
    margin-right: vw(64px);
}

.nav-dropdown1 {
    // color : $BLACK
    margin-right: vw(64px);
}