.mainNav {
    background-color: $MAIN;
    padding: 0;
    height: 55px;
    width: vw(1440px);
    justify-content: space-between;

}

.mainlogo {
    // margin-left: vw(135px);
    // margin-right: 400px;
}

.basic-navbar-nav {
    display: flex;
    justify-content: end;
}

.save {
    // color: $BLACK;
    margin-right: vw(64px);
    

}

.drawBtn {
    // color : $BLACK
    margin-right: vw(64px);
}

.nav-dropdown1 {
    // color : $BLACK
    margin-right: vw(64px);
}

.logoimg{
    margin-top: 10px;
}

.Navtext{
    text-align: end;
}