.DrawBox{
  border : 1px solid rgb(141, 141, 141);
  height: 350px;
  width: 1000px;
  margin-inline: 100px;
  margin-block: 100px 150px;
}


.drawModalButton{
  background-color: $MAIN;
}
.drawModalButton2{
  background-color: #E8E8E8;
}