.Rank{
  margin-top: 150px;
  margin-inline: 135px;
  margin-bottom: 100px;
}


.rankTabA{
  color: $TYPO-27;
  margin-inline: 30px;
  font-size: vw(24px);
  font-family: "NotoSansBold";
  
}
.rankTabB{
  color: $TYPO-27;
  margin-inline: 30px;
  opacity: 50%;
  font-size: vw(24px);
  font-family: "NotoSansBold";
}